<!DOCTYPE html>
<html data-ng-app="moneySaver">
<head>
    <title>Money Saver</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initialscale=1.0"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/stylesheet.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body data-ng-controller="addTranscCtrl">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--3 bar icon-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-to-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Money Saver</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-to-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Burger</a></li>
                            <li><a href="#">Appetizer</a></li>
                            <li><a href="#">Dessert</a></li>
                            <li><a href="#">Drink</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="btn disabled hidden-xs">|</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Body content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6">
                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-12">
                        <p class="h3 text-center">Calculator</p>
                        
                        <!-- Calculator code -->
                        <div class="row" data-ng-init="display=''">
                            <div class="col-xs-12"> 
                                <table id="calculator" class="text-center">
                                    <tr>
                                        <td colspan="4"><p class="text-left">Result: {{display}}</p></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'7';">7</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'8';">8</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'9';">9</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display = display+'/'">&divide;</button></td>
                                    </tr>
                                    
                                    <tr>                                    
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'4'">4</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'5'">5</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'6'">6</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'*'">&times;</button></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'1'">1</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'2'">2</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'3'">3</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'-'">-</button></td> 
                                    </tr>
                                    
                                    <tr>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'0'">0</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'.'">.</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=display+'+'">+</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display='';answer=''">C</button></td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="3"><button type="button" data-ng-disabled="!checkIsNum(display)" data-ng-click="transc.amount=display">Enter result to 'Amount'</button></td>
                                        <td><button type="button" class="btn btn-default" data-ng-click="display=$eval(display)">=</button></td>
                                    </tr>
                                </table>
                                
                            </div>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="clearfix visible-xs"></div>
            
            <div class="col-xs-12 col-md-6 col-md-pull-6">
                <p class="h3">Add Transaction</p>
                <hr/>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="amount" class="control-label col-sm-2">Amount:</label>
                        
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">RM</div>
                                <input type="number" id="amount" name="amount" data-ng-model="transc.amount" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Type:</label>
                        
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="type" data-ng-model="transc.type" value="Expenses" data-ng-init="transc.type='Expenses'"/>
                                Expenses
                            </label>
                            
                            <label class="radio-inline">
                                <input type="radio" name="type" data-ng-model="transc.type" value="Income"/> Income
                            </label>
                        
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="date" class="control-label col-sm-2">Date:</label>
                        
                        <div class="col-sm-10">
                            <input type="date" id="date" name="date" data-ng-model="transc.date" class="form-control"/>
                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="category" class="control-label col-sm-2">Category:</label>
                        <div class="col-sm-10">
                            <select id="category" data-ng-model="transc.category" class="form-control">
                                <option data-ng-if="transc.type=='Expenses'" data-ng-repeat="ctg in expensesCtgs" value="{{ctg}}">{{ctg}}</option>
                                
                                <option data-ng-if="transc.type=='Income'" data-ng-repeat="ctg in incomeCtgs" value="{{ctg}}">{{ctg}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="desc" class="control-label col-sm-2">Description:</label>
                        
                        <div class="col-sm-10">
                            <input type="text" id="desc" name="desc" data-ng-model="transc.desc" class="form-control"/>
                        </div>
                    </div>
                    
                    <div class="text-right">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer navbar-static-bottom">
      <div class="container">
          <ul class="list-inline text-center">
              <li><a href="#">Home</a></li>
              <li>&#8226;</li>
              <li><a href="#">About</a></li>
              <li>&#8226;</li>
              <li><a href="#">Products</a></li>
              <li>&#8226;</li>
              <li><a href="#">Contact us</a></li>
          </ul>
          <p class="text-center copyright"><em>Copyright &copy; Sharon Lo</em> | <a href="disclaimer.html">Disclaimer</a></p>
      </div>
    </footer>
    <!-- jQuery – required for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- All Bootstrap plug-ins file -->
    <script src="js/bootstrap.min.js"></script>
    <!--Basic AngularJS-->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>